.File-selector-outer {
  background-color: rgba(0, 0, 0, 0.365);
  height: 100%;
  width: 100%;
  position: absolute;
}

.File-selector-inner {
  width: 300px;
  height: 200px;
  position: absolute;
  top: 50%;
  left: 50%;
  -moz-transform: translateX(-50%) translateY(-50%);
  -webkit-transform: translateX(-50%) translateY(-50%);
  transform: translateX(-50%) translateY(-50%);
  text-align: center;
  border-radius: 10px;
  border-style: solid;
  border-width: 2px;
  border-color: orange;
  background-color: white;
}

.Button-selector-close {
  position: inherit;
  bottom: 20px;
  right: 20px;
}

.Button-selector-choose {
  position: inherit;
  bottom: 20px;
  left: 20px;
}

#choose-certificate-input {
  background-color: orange;
  padding: 10px;
  border-style: solid;
  border-width: 1px;
  border-color: orange;
  border-radius: 10px;
  max-width: 250px;
}
