.App-title {
  text-align: center;
  margin: 0 0 1rem 0;
  padding-top: 2rem;
}

.App-body {
  margin: 1rem;
  border-style: double;
  padding: 1rem;
  border-color: cadetblue;
  border-radius: 30px;
}

.App-link {
  color: cadetblue;
}

button {
  color: cadetblue;
  font-size: medium;
  margin: 0.5rem;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
