.App-title {
  text-align: center;
  margin: 0 0 1rem 0;
  padding-top: 2rem;
}

.App-body {
  margin: 1rem;
  border-style: solid;
  padding: 1rem;
  border-color: royalblue;
  border-radius: 30px;
}

.App-link {
  color: orange;
}

body {
  font-family: 'EB Garamond', serif;
}

button {
  font-size: medium;
  margin: 0.5rem;
  font-family: 'EB Garamond', serif;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}
